*{ 
  font-family: "Poppins", sans-serif;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
  background: #c7e1d9; 
}

/* HEADER */
header{ 
  margin:0;
  padding: 0;
  background-color: #fff;
}

header  img{
  width: 60px;
  height: 55px;
  transition: 0.9s;
  margin-left: 10px;
} 

header  img:hover{
  transition: 0.5s;
  transform: scale(1.1)
}

header  .informa{
  margin-left: 16px;
}
header .nav{
  margin-right: 15px;
} 

header .nav  .btnnav{
  background-color: #16a592;
  padding: 10px;
  border-radius: 2rem;
  margin: 10px;
  transition: 0.5s;
  font-weight: 200;
}

header .nav a:hover{
  transition: 0.5s;
  transform: scale(1.1)
}

header .nav a{
    text-decoration: none;
    color: white;
}

.ins {
  color: white;
  background-color: #047469;
  padding: 10px; 
  border-radius: 20px;
}

.top-page{
  margin-top: 4rem;
}
/*.paraillu{
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  
}*/
.illu{
  width: 350px;
  margin-right: 50px;
}
.right{
  margin-left: 12px;
  font-weight: 700;
}
.button{
  font-weight: normal;
  text-decoration: none;
  color: white;
  background-color: #047469;
  padding: 10px;
  border-radius: 20px;
}
.title{
  justify-content: center;
}
.container{
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}
.card{
  justify-content: space-between;
  margin-left: 25px;
  align-items: center;
  background-color: #fff;
  border-radius: 2em;
  width: 20%;
  height: 100%;
  padding: 3%;
  position: relative;
  transition: 0
}
.lien{
  text-decoration: none;
  justify-content: center;
  color: #047469;
}
.pm{
  justify-content: center;
  font-weight: bold;
  width: 50px;
  margin-top: 25;
}
.Alexandrecont{
  justify-content: space-between; 
  flex-direction: column;
  align-items: center;
}
.moimg{
  width: 100px;
  gap: 30px;
  height: auto;
}

.name{
  margin: 0;  
}
.containere{
  text-align: center;
  margin-bottom: 50px;
}
.flx{
  display:flex;
}
.al-it-ctn {
  align-items:center
}
.al-str {
  align-items:flex-start
}
.jfy-ctr {
  justify-content:center;
}
.jfy-bwn{
  justify-content:space-between;
}
.spa-ely {
  justify-content:space-evenly
}
.flx-cln {
  flex-direction:column;
}
.Pm-fx{
  justify-content: center;
  align-items:center;
}
.pmflx{
  justify-content: center;
  text-align: center;
  font-weight: 600;
}
.adrienflx{
  margin-left: 26px;
}
.youflx{
  justify-content: center;
  text-align: center;
}
.footerflx{
 display: flex;
  background-color: #047469;
  width: 100%;
  margin-top: 80px;
  height: auto;
  color: white;
  padding: 5% 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logoflx{
  margin: 0;
  margin-left: 15px;
  width: 60px;
}
.logocontflx img{
  height: 50px;
  margin-left: 25px;
}
.ig{
  margin-top: 0;
}
footer .container{
  min-width: 1170px;
  margin: auto;
}
footer ul{
  list-style-type:none;
}
footer ul li a{
   color: white;
   text-decoration: none;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
